body{
    background-color: grey;
    color: grey;
}
.btn__outline{
    padding: 10px 15px;
    border-radius: 5px;
    background-color: white;
    box-sizing: border-box;
}

.btn__outline:hover{
    padding: 10px 15px;
    border-radius: 5px;
    background-color: grey;
    color: white;
} 

.btn__principal{
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #bd243b;
    color:white;
    box-sizing: border-box;
}

.btn__principal:hover{
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #7b2029;
    color:white;
}

.btn__accionCompra{
    width: 100%;
}

.card_presentacion_curso .columna .profesor{
    display: flex;
    align-items: center;
}

@media(min-width:320px){

    .seccion_detalle_curso {
        padding: 5%;
    }
    .card_presentacion_curso{
        background-color: #031F36;

        display: block;
        border-radius: 15px;
        min-height: 100hv;
        padding: 2%;
    }
    .card_presentacion_curso .columna{
        width: 100%;
    }
    .card_presentacion_curso .columna .categoria{
        font-style: oblique;
        background-color: #bd243b;
        color: white;
        text-align: center;

        font-size: .8em;
        width: 45%;
        border-radius: 10px;
        box-sizing: border-box;
    }
    .card_presentacion_curso .columna .titulo{
        font-style: bold;

        font-size: 1.5em;
    }
    .card_presentacion_curso .columna .caracteristicas{
        font-size: 1em;
    }
    .card_presentacion_curso .columna .caracteristicas .item{
        margin-top: 1%;
    }
    .card_presentacion_curso .columna button{
        margin-bottom: 2%;
    }
    .card_presentacion_curso .columna .imagen-curso{
        margin:0%
    }
    .card_presentacion_curso .columna .precio{
        background-color: grey;
        color: black;
        margin: 0%;
        width: 100%;
        font-size: 3em;
        text-align: center;
        margin-bottom: 5%;
    }
    .columna .text-descripcion{
        margin-top: 5%;
    }
}

@media(min-width:768px){

    .seccion_detalle_curso {
        padding: 5%
    }
    .card_presentacion_curso{
        background-color: #031F36;

        display: block;
        border-radius: 15px;
        min-height: 100hv;
        padding: 2%;
    }
    .card_presentacion_curso .columna{
        width: 100%;
    }
    .card_presentacion_curso .columna .categoria{
        font-style: oblique;
        background-color: #bd243b;
        color: white;
        text-align: center;

        font-size: .8em;
        width: 25%;
        border-radius: 10px;
        box-sizing: border-box;
    }
    .card_presentacion_curso .columna .titulo{
        font-style: bold;
        font-size: 1.5em;
    }
    .card_presentacion_curso .columna .caracteristicas{
        font-size: 1em;
    }
    .card_presentacion_curso .columna .caracteristicas .item{
        margin-top: 1%;
    }
    .card_presentacion_curso .columna button{
        margin-bottom: 2%;
    }
    .btn__accionCompra{
        width: 49.59%;
    }
    .card_presentacion_curso .columna .imagen-curso{
        margin:0%
    }
    .card_presentacion_curso .columna .precio{
        background-color: grey;
        color: black;
        margin: 0%;
        width: 100%;
        font-size: 3em;
        text-align: center;
        margin-bottom: 2%;
    }
}

@media(min-width:1024px){

    .seccion_detalle_curso {
        padding: 5%
    }
    .card_presentacion_curso{
        background-color: #031F36;
        border-radius: 15px;
        min-height: 100hv;
        padding: 2%;
        display: flex;
        flex-wrap: wrap;
    }
    .card_presentacion_curso .columna{
        width: 50%;
    }
    .card_presentacion_curso .columna .categoria{
        font-style: oblique;
        background-color: #bd243b;
        color: white;
        text-align: center;

        font-size: .8em;
        width: 40%;
        border-radius: 10px;
        box-sizing: border-box;
    }
    .card_presentacion_curso .columna .titulo{
        font-style: bold;
        font-size: 1.5em;
    }
    .card_presentacion_curso .columna .caracteristicas{
        font-size: 1em;
    }
    .card_presentacion_curso .columna .caracteristicas .item{
        margin-top: 1%;
    }
    .card_presentacion_curso .columna button{
        margin-bottom: 2%;
    }
    .card_presentacion_curso .columna .imagen-curso{
        margin:0%
    }
    .card_presentacion_curso .columna .precio{
        background-color: grey;
        color: black;
        margin: 0%;
        width: 100%;
        font-size: 3em;
        text-align: center;
        margin-bottom: 2%;
    }
    .btn__accionCompra{
        width: 100%;
    }
}
