.row {
    display: flex;
    flex-align: center;
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    flex-align: center;
}

.logo {
    width: 60px;
}

.rounded {
    border-radius: 50%;
}

.btn__outline{
    padding: 10px 15px;
    border-radius: 5px;
    background-color: white;
}

.btn__principal{
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #bd243b;
    color: white;
}

.search {
    padding: 10px;
    border-radius: 5px;
}

.percentage {
    font-size: 2rem;
    color: #776BF6;
    font-weight: bold;
}

.hero {
    background-color: #b2acfa;
    padding: 50px;
}

.hero * {
    margin: 20px;
}